body {
    margin: 0;
    font-family: sans-serif;
}
#c {
    width: 100%;  /* let our container decide our size */
    height: 100%;
    display: block;
}
#container {
  position: relative;  /* makes this the origin of its children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#labels {
  position: absolute;  /* let us position ourself inside the container */
  z-index: 0;          /* make a new stacking context so children don't sort with rest of page */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
}
#labels>a {
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  font-size: small;
  user-select: none;   /* don't let the text get selected */
  pointer-events: none;  /* make us invisible to the pointer */
  text-shadow:         /* create a black outline */
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
#labels>a:hover {
  color: red;
}

.location {
position: absolute;

left: 0;
top: 0;
border: 1px solid white;
margin-left: -5px;
margin-top: -5px;
border-radius: 50%;
cursor: pointer;
background: transparent;
padding: 10px;

}

.location:hover .projectText{
opacity: 1;
visibility: visible;
width: 250px;
font-size: 12px;
display:block;
}
.location:hover {
background:white;
padding: 14px;
transition:all .2s ease;
}
.location > span{
margin: 0 auto;
padding: 10px;
left: 0;
top: 0;
border-radius: 50%;
position: absolute;
display: block;
background: #ffffff8c;
}

.projectText {
position: absolute;
color: white;

font-size: 0px;

left: 50%;
text-align: center;
padding: .5rem 1.5rem 1rem 1.5rem;
border-top: 1px solid white;
opacity:0;
width: 0;
visibility: hidden;
transition:all .1s ease;
display:none;

}
.project-content{
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: #00000082;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.2);


outline: 0;
height: 100vh;
}
.modal-dialog {
width: 100vw !important;
position:fixed;
top:0;
right:0;
height:100vh;
margin:0 auto !important;
max-width:100vw !important;
}
.modal-title {
color: white !important;
}
.modal-body{
margin: 0 auto;
width: 100%;
}
.modal{
width: 100vw !important;
}
.modal-header{
padding: 1rem 0rem !important ;
background:black !important;
}
.info-button{
position:absolute;
left:50%;
transform: translateX(-50);
background: transparent !important;
color:white;
font-size: 14px;
border:none;
margin: .5em;
}
.navbar-trans{
background-color:transparent !important;
}
.navbar-brand > img{
width:100px;
height: auto;
}
.close-modal{
color:white !important;
}
.about-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        padding: 3rem;
        color:white;
        border: 1px solid #ffffff70;
    }
    .button-about{
        background: transparent;
        border: none;
       
    
    }
    
.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .carousel-control-next, .carousel-control-prev{
    width:50% !important;
  }
  .carousel-control-next:hover{
    cursor:url('../icons/next-single.png'), auto;
  }
  .carousel-control-prev:hover{
    cursor:url('../icons/prev-single.png'), auto;
    
  }
  .head-info {
color: white;
font-size: 12px;
}
.content-info {
font-size: 12px;
color: #ffffff75;
}
.project-text {
overflow-y: auto;
height: 35vh;
color: #ffffffa3;
font-size: 14px;
margin-top: 3rem;

}
#projectInfo {
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
    }
    .card-rg {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #0b0b0bdb;
        background-clip: border-box;
        height: 100vh;
    }
    .project-info-style{
            color:white;
            margin-top:6rem;
    }

.project-footer {
padding: 1rem;
}
.b-top {
border-top: 1px solid #ffffff78;
padding-top: 1rem;
}
.b-bottom {
border-bottom: 1px solid #ffffff78;

margin-left: 15px;
margin-right: 15px;

}
.carousel-indicators {
bottom: -50px !important;
margin:0 !important;

}
.carousel-indicators li {
        height:1px;
        width:100%;
        -webkit-transition :opacity .6s ease !important;
        }
.nav-link {
        color: white;
        font-size: 12px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .nav-link:hover{
            text-decoration: underline;
            color:white !important;
    }

.bounce-in-right {
	-webkit-animation: bounce-in-right 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: bounce-in-right 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-23 18:6:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-right {
        0% {
          -webkit-transform: translateX(600px);
                  transform: translateX(600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(68px);
                  transform: translateX(68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateX(32px);
                  transform: translateX(32px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateX(8px);
                  transform: translateX(8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes bounce-in-right {
        0% {
          -webkit-transform: translateX(600px);
                  transform: translateX(600px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateX(68px);
                  transform: translateX(68px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateX(32px);
                  transform: translateX(32px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateX(8px);
                  transform: translateX(8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      
      .fade-in-right {
	-webkit-animation: fade-in-right 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
	        animation: fade-in-right 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-23 18:9:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-right {
        0% {
          -webkit-transform: translateX(50px);
                  transform: translateX(50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
      
.fade-in-left {
	-webkit-animation: fade-in-left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: fade-in-left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-23 17:59:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
.fade-in-top {
-webkit-animation: fade-in-top 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
        animation: fade-in-top 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}
/* ----------------------------------------------
* Generated by Animista on 2020-5-23 16:10:50
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation fade-in-top
* ----------------------------------------
*/
@-webkit-keyframes fade-in-top {
0% {
-webkit-transform: translateY(-50px);
        transform: translateY(-50px);
opacity: 0;
}
100% {
-webkit-transform: translateY(0);
        transform: translateY(0);
opacity: 1;
}
}
@keyframes fade-in-top {
0% {
-webkit-transform: translateY(-50px);
        transform: translateY(-50px);
opacity: 0;
}
100% {
-webkit-transform: translateY(0);
        transform: translateY(0);
opacity: 1;
}
}

.ping {
-webkit-animation: ping 1.2s ease-in-out infinite both;
        animation: ping 1.2s ease-in-out infinite both;
}
/* ----------------------------------------------
* Generated by Animista on 2020-5-23 15:55:39
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation ping
* ----------------------------------------
*/
@-webkit-keyframes ping {
0% {
-webkit-transform: scale(0.2);
        transform: scale(0.2);
opacity: 0.8;
}
80% {
-webkit-transform: scale(1.2);
        transform: scale(1.2);
opacity: 0;
}
100% {
-webkit-transform: scale(2.2);
        transform: scale(2.2);
opacity: 0;
}
}
@keyframes ping {
0% {
-webkit-transform: scale(0.2);
        transform: scale(0.2);
opacity: 0.8;
}
80% {
-webkit-transform: scale(1.2);
        transform: scale(1.2);
opacity: 0;
}
100% {
-webkit-transform: scale(2.2);
        transform: scale(2.2);
opacity: 0;
}
}
